#message {

    width: 100%;
    display: grid;
    margin-top: 6rem;
    
    & header {
        display: flex;
        justify-content: center;
    }

    & main span {
        display: inline-block;
        font: var(--text-sub);
        color: var(--text-body);

        & strong {
            display: inline-block;
            color: var(--blue-light);
            font: inherit;
        }
    }

    & footer {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5rem;
    }


}