* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --pink-light: #c59dd2;
    --pink-base: #9547a5;
    --pink-dark: #7d298a;
    --pink-low: #3f0f41;
    --blue-light: #73b6d2;
    --blue-base: #358bb9;
    --blue-mid: #2374a4;
    --blue-dark: #144a72;
    --blue-low: #08233c;
    --shape-stroke: #002347;
    --shape-hover: #001933;
    --shape-base: #000f1f;
    --shape-background: #00050a;
    --text-title: #f8fbfb;
    --text-body: #e2e7e9;
    --text-label: #bac6c9;

    --font-family: "Raleway", sans-serif;

    --title-lg: 700 3rem var(--font-family);
    --title-md: 700 2.5rem var(--font-family);
    --title-sm: 700 2rem var(--font-family);
    --title-sx: 700 1rem var(--font-family);

    --body-lg-bold: 700 1.25rem/140% var(--font-family);
    --body-lg-regular: 400 1.25rem/140% var(--font-family);
    --body-md-bold: 700 1rem/140% var(--font-family);
    --body-md-regular: 400 1rem/140% var(--font-family);
    --body-sm-bold: 700 0.875rem/140% var(--font-family);
    --body-sm-regular: 400 0.875rem/140% var(--font-family);
    --body-xs-bold: 700 0.75rem/140% var(--font-family);
    --body-xs-regular: 400 0.75rem/140% var(--font-family);

    --text-sub: 500 2rem/200% var(--font-family);
    --text-button: 700 0.875rem var(--font-family);
    --text-link: 500 0.875 var(--font-family);

    --tag: 700 0.625rem var(--font-family);
}

body {
    background-color: var(--shape-background);
}

h1 {
    font: var(--title-lg);
    color: var(--text-title);
}

h2 {
    font: var(--title-sm);
    color: var(--text-title);
}

a {
    text-decoration: none;
    font-family: var(--text-link);
    color: inherit;
}

ul[role="list"] {
    list-style: none;
}

/* Mobile First */
.container {
    max-width: 20.938rem;
    margin-inline: auto;
}

@media (width >=375px) {
    .container {
        max-width: 70rem;
        margin-inline: auto;
    }
}
