#surprise-box {
    padding-block: 14.687rem;

    & header {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & main {
        /* position: relative; */

        & .book {
            position: relative;
            display: flex;
            justify-content: center;
            padding-block: 13.875rem;

            & img {
                transform: scale(1.1);
            }
        }

        & .book:hover {
            cursor: pointer;
            & .back-book {
                & img[src*="bootom"] {
                    animation: bottom .2s forwards linear;
                }

                & img[src*="book-mark-1"] {
                    z-index: 1;
                    animation: book-mark-1 .2s forwards linear;
                }

                & img[src*="book-mark-2"] {
                    animation: book-mark-2 .2s forwards linear;
                }

                & img[src*="arrow-book-mark"] {
                    animation: arrow-book-mark .2s forwards linear;
                }

                & img[src*="arrow-broche"] {
                    animation: arrow-broche .2s forwards linear;
                }

                & img[src*="arrow-description"] {
                    animation: arrow-description .2s forwards linear;
                }

                & span.page-mark {
                    animation: page-mark .2s forwards linear;
                }

                & span.broche {
                    animation: broche .2s forwards linear;
                }

                & span.livro {
                    animation: livro .2s forwards linear;
                }
            }
        }

        & .back-book {
            --top: 22%;
            --left: 35%;

            z-index: -1;
            inset: 0;

            & img[src*="bootom"] {
                position: absolute;
                left: 35%;
                bottom: 15%;
            }

            & span {
                position: absolute;
                color: var(--text-title);
                font: var(--body-md-regular);
            }

            & img[src*="book-mark-1"] {
                position: absolute;
                top: var(--top);
                left: var(--left);
            }

            & img[src*="book-mark-2"] {
                position: absolute;
                top: var(--top);
                left: var(--left);
            }

            & img[src*="arrow-book-mark.svg"] {
                position: absolute;
                top: 60%;
                left: 55%;
            }

            & img[src*="arrow-broche"] {
                position: absolute;
                left: 35%;
                bottom: 30%;
            }

            & img[src*="arrow-description"] {
                position: absolute;
                top: var(--top);
                left: var(--left);
            }

            & span.page-mark {
                top: 60%;
                left: 55%;
            }

            & span.broche {
                left: 35%;
                bottom: 50%;
            }

            & span.livro {
                top: 22%;
                left: 33%;
                /* right: 10%; */
            }
        }
    }
}

@keyframes bottom {
    to {
        transform: translateX(-230px) translateY(50px);
    }
}

@keyframes book-mark-1 {
    100% {
        transform: translateX(300px);
    }
}

@keyframes book-mark-2 {
    100% {
        transform: translateX(350px);
    }
}

@keyframes arrow-book-mark {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(150px) translateX(200px);
    }
}

@keyframes arrow-broche {
    to {
        transform: translateX(-270px);
    }

    to {
    }
}

@keyframes arrow-description {
    to {
        transform: translateX(-230px) translateY(-60px);
    }
}

@keyframes page-mark {
    to {
        transform: translateX(130px) translateY(320px);
    }
}

@keyframes broche {
    to {
        transform: translateX(-280px) translateY(60px);
    }

}

@keyframes livro {
    to {
        transform: translateX(-280px) translateY(-100px);
    }

}
